<div class="row py-3 p-3">
  <div class="col">
    <h5><i class="fa fa-shopping-cart"></i> Solicitud de compra</h5>
  </div>
  <div class="text-right">
    <h5>
      Estado:
      {{ requestedProducts[0].purchaseRequest.purchaseRequestStatus.name }}
    </h5>
  </div>
</div>
<div *ngIf="requestedProducts && requestedProducts.length > 0">
  <div class="row py-3">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead class="thead-light">
            <tr>
              <th>Nombre producto</th>
              <th>Peso Kg</th>
              <th>Comentario</th>
              <th>Requiere refrigeración</th>
              <th>Precio acordado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let requestedProduct of requestedProducts">
              <td>{{ requestedProduct.product.name }}</td>
              <td>{{ requestedProduct.weight }}</td>
              <td>{{ requestedProduct.remark || "-" }}</td>
              <td>
                <i
                  class="far"
                  [class.fa-square]="!requestedProduct.requiresRefrigeration"
                  [class.fa-check-square]="
                    requestedProduct.requiresRefrigeration
                  "
                >
                </i>
              </td>
              <td>
                {{
                  requestedProducts[0].purchaseRequest.agreedPrice ||
                    "Por definir"
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Fecha deseada de entrega:
      <b> {{ requestedProducts[0].purchaseRequest.desiredDate | date }} </b>
    </div>
    <div class="col text-right">
      Total a pagar:
      <b>
        {{ requestedProducts[0].purchaseRequest.totalPrice || "Por definir" }}
      </b>
    </div>
  </div>
  <div *ngIf="requestedProducts[0].purchaseRequest.idPurchaseRequestStatus === 7">
    <div class="row align-middle justify-content-center align-items-center">
      <button class="btn btn-success">
        Recibir entrega y finalizar proceso
      </button>
    </div>
    <div class="row align-middle justify-content-center align-items-center">
      <a>Rechazar entrega</a>
    </div>
  </div>
</div>
