<div class="card">
  <div
    class="card-header py-3 card-header-info row justify-content-between align-items-center"
  >
    <div class="col">
      <h4 class="card-title m-0">Determinar Ganadores</h4>
    </div>
    <div class="col-2">
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="dialogRef.close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive" *ngIf="participants.length > 0">
      <div class="p-4 text-center">
        Actualmente, estos son los participantes elegibles
      </div>
      <table class="table">
        <thead class="text-primary">
          <th>Nombre participante</th>
          <th class="text-center">Producto</th>
          <th class="text-center">Peso ofrecido Kg</th>
          <th
            *ngIf="_userService.getUser().idProfile === 1"
            class="text-center"
          >
            $ Valor por Kg
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let participant of participants">
            <td>{{ participant.producer.fullName }}</td>
            <td class="text-center">
              {{ participant.purchaseRequestProduct.product.name }}
            </td>
            <td class="text-center">
              {{ participant.weight }}
            </td>
            <td
              class="text-center"
              *ngIf="_userService.getUser().idProfile === 1"
            >
              {{ participant.price }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="participants.length === 0" class="col text-center py-4">
      No se han encontrado participantes que cumplan con los requisitos
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-info"
      (click)="dialogRef.close()"
    >
      Cerrar
    </button>
    <button
      *ngIf="participants.length > 0"
      [disabled]="processing"
      type="button"
      class="btn btn-success"
      (click)="acceptWinners()"
    >
      <mat-spinner
        class="white-spinner"
        [diameter]="17"
        *ngIf="processing"
      ></mat-spinner>
      <span *ngIf="!processing">Aceptar ganadores</span>
    </button>
  </div>
</div>

<!-- 
<div class="modal-header">
  <h4 class="modal-title">Registrar usuario</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="dialogRef.close()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group container">
    <div class="row py-2">
      <div class="col">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="newUserData.fullName"
          placeholder="Nombre completo"
        />
      </div>
      <div class="col">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="newUserData.country"
          placeholder="País"
        />
      </div>
    </div>
    <div class="row py-2">
      <div class="col">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="newUserData.email"
          placeholder="E-mail"
        />
      </div>
      <div class="col">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="newUserData.city"
          placeholder="Ciudad"
        />
      </div>
    </div>
    <div class="row py-2">
      <div class="col">
        <select
          class="form-control"
          id="exampleFormControlSelect1"
          [(ngModel)]="newUserData.idProfile"
        >
          <option disabled [ngValue]="undefined">Seleccionar perfil</option>
          <option *ngFor="let profile of profileList" [ngValue]="profile.id">
            {{ profile.name }}
          </option>
        </select>
      </div>
      <div class="col">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="newUserData.address"
          placeholder="Dirección"
        />
      </div>
    </div>
    <div class="row py-2">
      <div class="col">
        Contraseña autogenerada: <b>{{ newUserData.password }}</b>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="dialogRef.close()"
  >
    Cerrar
  </button>
  <button [disabled]="processing" type="button" class="btn btn-primary" (click)="registerNewUser()">
    <mat-spinner class="white-spinner" [diameter]="17" *ngIf="processing"></mat-spinner>
    <span *ngIf="!processing">Registrar</span>
  </button>
</div> -->
