<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div
            class="card-header card-header-danger row justify-content-between align-items-center"
          >
            <div class="row add-product-row w-100 m-0">
              <div class="col-4">
                <mat-form-field>
                  <mat-placeholder class="placeholder"
                    >* Producto</mat-placeholder
                  >
                  <mat-select [(ngModel)]="productToAdd.object">
                    <mat-option
                      *ngFor="let product of productList"
                      [value]="product"
                      >{{ product.product.name }} - {{ product.weight }}Kg - ${{product.agreedPrice}} c/Kg </mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div id="weight-input-col" class="col-1">
                <mat-form-field>
                  <mat-placeholder class="placeholder">* Peso Kg</mat-placeholder>
                  <input
                    matInput
                    [(ngModel)]="productToAdd.weightKg"
                    type="number"
                  />
                </mat-form-field>
              </div>
              <div class="col-2 py-3">
                <mat-checkbox
                  name="userStatus"
                  [(ngModel)]="+productToAdd.reqRefrigeration"
                  >Refrigerar</mat-checkbox
                >
              </div>
              <div class="col text-right">
                <button class="btn btn-success" (click)="addProductToRequest()">
                  Agregar producto
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" *ngIf="productsToRequest.length > 0">
                <thead class="text-primary">
                  <th>Nombre producto</th>
                  <th class="text-center">Peso Kg</th>
                  <th class="text-center">Precio</th>
                  <th class="text-center">Refrigerar</th>
                  <th class="text-right"></th>
                </thead>
                <tbody>
                  <tr *ngFor="let productToRequest of productsToRequest">
                    <td>{{ productToRequest.object.product.name }}</td>
                    <td class="text-center">{{ productToRequest.weightKg }}</td>
                    <td class="text-center">
                      ${{ productToRequest.weightKg * productToRequest.object.agreedPrice  }}
                    </td>
                    <td class="text-center">
                      <i class="material-icons">
                        {{
                          +productToRequest.reqRefrigeration
                            ? "check_box"
                            : "check_box_outline_blank"
                        }}
                      </i>
                    </td>
                    <td class="text-right">
                      <button
                        class="btn btn-sm btn-outline-danger"
                        (click)="removeProductToRequest(productToRequest)"
                      >
                        Remover
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                *ngIf="productsToRequest.length === 0"
                class="col text-center py-4"
              >
                Agrega productos a solicitar y se mostrarán aquí.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div
              class="input-group align-middle justify-content-center align-items-center"
            >
              * Fecha deseada de entrega:
              <input
                style="margin-left: 5px"
                id="date-input"
                type="date"
                class="form-control"
                [(ngModel)]="purchaseRequest.date"
              />
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-center">
            <button
            [disabled]="productsToRequest.length === 0 || !purchaseRequest.date"
              class="btn btn-md btn-success"
              (click)="sendPurchaseRequest()"
            >
              Solicitar compra de saldo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
