<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div
            [class.card-header-success]="
              requestedProducts[0] &&
              requestedProducts[0].purchaseRequest.idPurchaseRequestStatus === 8
            "
            [class.card-header-danger]="
              requestedProducts[0] &&
              requestedProducts[0].purchaseRequest.idPurchaseRequestStatus !== 8
            "
            class="card-header row"
          >
            <div class="col-4">
              <h4 class="card-title">
                Solicitud de Compra {{stringSalesProcessType}} ID: 
                {{
                  requestedProducts[0]
                    ? requestedProducts[0].idPurchaseRequest
                    : "Cargando..."
                }}
              </h4>
              <p class="card-category">
                Estado:
                {{
                  requestedProducts[0]
                    ? requestedProducts[0].purchaseRequest.purchaseRequestStatus
                        .name
                    : "Cargando..."
                }}
              </p>
            </div>
            <div
              class="col justify-content-end d-flex"
              *ngIf="
                requestedProducts[0] &&
                requestedProducts[0].purchaseRequest.idPurchaseRequestStatus ===
                  7
              "
            >
              <button
                class="btn btn-sm btn-success mr-2"
                (click)="acceptDelivery()"
              >
                Recibir entrega y finalizar proceso
              </button>
              <button class="btn btn-sm btn-danger" (click)="rejectDelivery()">
                Rechazar entrega
              </button>
            </div>
            <div
              class="col justify-content-end d-flex"
              *ngIf="
                requestedProducts[0] &&
                requestedProducts[0].purchaseRequest.idPurchaseRequestStatus ===
                  10
              "
            >
              <button
                class="btn btn-sm btn-success mr-2"
                (click)="acceptPrice()"
              >
                Aceptar precio
              </button>
              <button class="btn btn-sm btn-danger" (click)="rejectPrice()">
                Rechazar precio
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" *ngIf="requestedProducts.length > 0">
                <thead class="text-primary">
                  <th>Nombre producto</th>
                  <th class="text-center">Peso Kg</th>
                  <th class="text-center">Comentario</th>
                  <th class="text-center">Refrigerar</th>
                  <th class="text-right">Precio acordado</th>
                </thead>
                <tbody>
                  <tr *ngFor="let requestedProduct of requestedProducts">
                    <td>{{ requestedProduct.product.name }}</td>
                    <td class="text-center">{{ requestedProduct.weight }}</td>
                    <td class="text-center">
                      {{ requestedProduct.remark || "-" }}
                    </td>
                    <td class="text-center">
                      <i class="material-icons">
                        {{
                          +requestedProduct.requiresRefrigeration
                            ? "check_box"
                            : "check_box_outline_blank"
                        }}
                      </i>
                    </td>
                    <td class="text-right">
                      {{ requestedProduct.agreedPrice || "- Por definir -" }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                *ngIf="requestedProducts.length === 0"
                class="col text-center py-4"
              >
                Cargando...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="requestedProducts[0]">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Fecha deseada de entrega</h4>
          </div>
          <div class="card-body table-responsive">
            <h4>
              {{ requestedProducts[0].purchaseRequest.desiredDate | date }}
            </h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Última actualización</h4>
          </div>
          <div class="card-body table-responsive">
            <h4>
              {{ requestedProducts[0].purchaseRequest.updateDate | date }}
            </h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Precio total</h4>
          </div>
          <div class="card-body table-responsive">
            <h4>
              {{
                requestedProducts[0].purchaseRequest.totalPrice ||
                  "- Por definir -"
              }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
