<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="UserApiToken" value="http://virtualfairapi-env.eba-izwgrmte.us-east-2.elasticbeanstalk.com/api/User/" />
    <add key="PurchaseRequestApi" value="http://virtualfairapi-env.eba-izwgrmte.us-east-2.elasticbeanstalk.com/api/PurchaseRequest/" />
    <add key="PurchaseRequestProduct" value="http://virtualfairapi-env.eba-izwgrmte.us-east-2.elasticbeanstalk.com/api/PurchaseRequestProduct/" />
    <add key="PurchaseRequestProducer" value="http://virtualfairapi-env.eba-izwgrmte.us-east-2.elasticbeanstalk.com/api/PurchaseRequestProducer/" />
    <add key="PurchaseRequestStatus" value="http://virtualfairapi-env.eba-izwgrmte.us-east-2.elasticbeanstalk.com/api/PurchaseRequestStatus/" />
    <add key="Product" value="http://virtualfairapi-env.eba-izwgrmte.us-east-2.elasticbeanstalk.com/api/Product/" />
    <add key="Profile" value="http://virtualfairapi-env.eba-izwgrmte.us-east-2.elasticbeanstalk.com/api/Profile/" />
    <add key="PurchaseRequestRemark" value="http://virtualfairapi-env.eba-izwgrmte.us-east-2.elasticbeanstalk.com/api/PurchaseRequestRemark/" />
    <add key="TransportAuction" value="http://virtualfairapi-env.eba-izwgrmte.us-east-2.elasticbeanstalk.com/api/TransportAuction/" />
  </appSettings>
</configuration>