<br>
<div class="row">
  <div class="col">
    <h5><i class="fa fa-users"></i> Usuarios</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" (click)="findAll();"><i class="fa fa-search"></i></div>
      </div>
      <input type="text" class="form-control" placeholder="Buscar usuario" [(ngModel)]="searcher">
    </div>
  </div>
  <div class="col">
    <button class="btn btn-primary"><i class="fa fa-plus"></i> Registrar usuario</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>E-mail</th>
            <th>Perfil</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="!loadingFindAll && users.length > 0">
          <tr *ngIf="loadingFindAll && users.length > 0">
            <td colspan="5" class="text-center"><i class="fa fa-circle-notch"></i> Cargando.</td>
          </tr>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.profile.name }}</td>
            <td>
              <button class="btn btn-sm btn-outline-primary">Ver detalle</button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="loadingFindAll && users.length == 0">
          <tr>
            <td colspan="5" class="text-center"><i class="fa fa-circle-notch"></i> Cargando.</td>
          </tr>
        </tbody>
        <tbody *ngIf="!loadingFindAll && users.length == 0">
          <tr>
            <td colspan="5" class="text-center"><i class="fa fa-folder-open"></i> Sin resultados.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>