<div class="row">
  <div class="col py-4">
    <h5><i class="fa fa-shopping-cart"></i> Nueva solicitud de compra</h5>
  </div>
</div>
<div class="row add-product-row">
  <div class="col">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="productToAdd.name" placeholder="*Nombre producto" />
    </div>
  </div>
  <div id="weight-input-col" class="col">
    <div class="input-group">
      <input type="number" class="form-control" [(ngModel)]="productToAdd.weightKg" placeholder="*Peso Kg" />
    </div>
  </div>
  <div class="col-4">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="productToAdd.comment" placeholder="Comentario" />
    </div>
  </div>
  <div class="col">
    <div class="input-group py-1">
      <label class="align-middle"><input id="reqRefrigeration" [(ngModel)]="productToAdd.reqRefrigeration" type="checkbox" /> Requiere refrigeración</label>
    </div>
  </div>
  <div class="col align-self-end text-right">
    <button class="btn btn-primary" (click)="addProductToRequest()">Agregar</button>
  </div>
</div>
<div class="row py-3">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-sm" *ngIf="productsToRequest.length > 0">
        <thead class="thead-light">
          <tr>
            <th>Nombre producto</th>
            <th>Peso Kg</th>
            <th>Comentario</th>
            <th>Requiere refrigeración</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productToRequest of productsToRequest">
            <td>{{ productToRequest.name }}</td>
            <td>{{ productToRequest.weightKg }}</td>
            <td>{{ productToRequest.comment }}</td>     
            <td><i class="far" [class.fa-square]="!productToRequest.reqRefrigeration" [class.fa-check-square]="productToRequest.reqRefrigeration"> </i></td>
            <td>
              <button class="btn btn-sm btn-outline-danger" (click)="removeProductToRequest(productToRequest)">Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="productsToRequest.length === 0" class="col text-center py-4">Agrega productos a solicitar y se mostrarán aquí.</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="input-group align-middle justify-content-center align-items-center">
      * Fecha deseada de entrega: 
      <input id="date-input" type="date" class="form-control" [(ngModel)]="purchaseRequest.date" />
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col text-center">
    <button class="btn btn-md btn-primary" (click)="sendPurchaseRequest()">Registrar solicitud de compra</button>
  </div>
</div>